.PropertiesPanel {
  width: 320px;
  background-color: #3d4b6c;
  height: 100vh;
}
button.unset {
  all: unset;
  display: inline-block;
  padding: 0.3rem 0;
}
button.changed {
  text-decoration: underline;
  text-decoration-style: dotted;

  text-decoration-color: #fde047;
}
button.default {
  color: rgba(255, 255, 255, 0.7);
}
button.publish[disabled] {
  background-color: #64748b;
}
button.publish {
  background-color: #7733f4;
  border-radius: 0.2rem;
  color: white;
  display: inline-block;
  font-weight: 600;
  margin: 0.5rem auto;
  padding: 0.25rem 0.5rem;
}

.box {
  border-radius: 0.25rem;
  background-color: #28334d;
}

.viewPadding {
  border: 2px solid #3d4b6c;
}

.text-sm {
  font-size: 14px;
}

.flex-1 {
  flex: 1 1 0;
}
.flex-2 {
  flex: 2 1 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.inline-block {
  display: inline-block;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.w-full {
  width: 100%;
}
.w-1\/6 {
  width: 16.666667%;
}

input {
  background: #3d4b6c;
  color: white;
  display: inline-block;
  margin: 0.2rem 0;
}

.Collapsible {
  margin-bottom: 2px;
}

.Collapsible-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #28334d;
  border: none;
  padding: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.Collapsible-content {
  margin: 8px;
}
